
select{
    background-color:black ;
    color: white;
    font-family: "Bruno Ace SC";
}
span{
    color: white;
    font-family: "Bruno Ace SC";
}
option{
    font-family: "Bruno Ace SC";
}
img{
    align-items: center;
}
a:link, a:hover, a:visited, a:active, a {
    text-decoration:none;
    color:black;
}
.pelis{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    
  }
#cuerpo{
    background-color: black;
}
#peli {
    transition: transform 0.3s ease-in-out;
    font-family: "Bruno Ace SC";
    text-align: center;
    padding: 5px;
    width: 310px;
    align-items: baseline;
    justify-content: space-around;
  }
  
#peli:hover {
    transform: scale(1.1);
  }
#titulo{
    color: white;
}
#estreno{
    background-color: white;
    color: black;
}

  
@media (max-width: 768px){
    .pelis{
        display: flex;
        justify-content: center;
        margin-right: 27px;
    }
}