body{
    background-color: black;
      overflow-x: hidden;
}

h3, h4, p{
    color: white;
    font-family: "Bruno Ace SC";
}

.peli {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: white;
    font-family: "Bruno Ace SC";
  }
  
  .imagen {
    margin-bottom: 10px;
  }
  .sinopsis {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #asientos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pantalla{
    display: flex;
    width: 400px;
    align-items: center;
    border: 1px solid white; 
    border-radius: 100%;
  }
  .tabla{
    width: 670px;
  }
  .hora{
    width: 110px;
    background-color: black;
    color: #606060;
    border: black;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25px;
    border-radius: 8px;
    font-family: "Bruno Ace SC";
  }
  .hora:hover{
    color: white;
    box-shadow: 1px 1px 20px 1px white;
    transition: all 0.8s;
  }
  button:visited{
    color: white;
    box-shadow: 1px 1px 20px 1px white;
  }
  .checkbox-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 10px;
  }
  span{
    color: white;
  }
  .sala{
    display: flex;
    flex-direction: column;
  }
  .letra{
    width: 10px;
  }
  .fila{
    display: flex;
    flex-direction: row;
  }

  
.peli h3{
    margin-right: 10px;
}
.peli img{
    margin-right: 10px;
}
.footer{
  position: relative;
  min-height: calc(100vh - 550px)

}
@media (max-width: 768px){
  .peli {
    display: flex;
    flex-direction: column;
  }
  .tabla{
    
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    max-width: 100%; 
    margin: 0 auto; 
    overflow: hidden; 
  }
  body {
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
}
  .botones{
    display: flex;
    flex-flow: column;
  }
  #elegir{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
  }
}